* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
}

.subheading {
  font-size: 2.6rem;
  text-align: center;
  color: #000000;
}

.grid-3-cols {
  display: flex;
  justify-content: center;
  gap: 4rem;
  max-width: 80rem;
}

.grid-4-cols {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.btn {
  background-color: #00a651;
  color: #fff;
  display: inline-block;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: #046e37;
}

.box-shadow,
.box-shadow-d {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.box-shadow:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
