# Ignore IDE or code editor folders
.vscode/
.idea/

# Ignore temporary files
*.tmp
*.log
*.swp
.DS_Store

# Ignore specific folders or files
node_modules/
dist/
build/

# Ignore optimization files
*.min.js
*.min.css

# Ignore database and local environment files
*.sqlite
*.db